html{
  background-color: #6693d4;
}
body{
  background-color: white;
  max-width:85%;
  margin-top: 40px;
  margin-bottom: 40px;
	margin-left:auto;
	margin-right:auto;
	border:3px solid white;
	padding-left:40px;
	padding-right:40px;
	box-sizing:border-box;
}
header nav{
  border-bottom:3px solid #3c6196;
  padding-bottom: 51px;
}
header h1{
  color: #3c6196;
  font-family: Arial;
  font-size: 36pt;
  font-weight: bold;
  margin-bottom:0px;
}
header p{
  margin-top:0px;
  margin-bottom: 10px;
  font-family: serif;
  font-style: italic;
  font-size: 13pt;
}
img{
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
}
.site-nav li{
list-style:none;
float: left;
padding-right:10px;
}
.site-nav ul{
	margin:0;
	padding:20px 0px 0px 0px
}
.site-nav a{
	margin-top:10px;
  margin-bottom:30px;
	text-decoration:none;
	color: #3c6196;
	/* by default link elements have an inline display, overwriet it to block*/
	display: block;
	padding: 10px 20px;
	border: 3px solid #3c6196;
  border-bottom: none;
}
/*adding a hovering effect, so that when a user hovers over the link style changes*/
.site-nav a:hover/*pseudo selector*/{
	background-color: #6693d4;
  color: black;
	border: 1px solid #3c6196;
}
.main-area{
  border-top: 2px solid #bed2ed;
  position:relative;
  width:66%;
  float:left;
  box-sizing: border-box;
  padding-right: 60px;
}
.sidebar{
  width:33%;
  float: left;
  box-sizing:border-box;
	font-size:85%;
	padding: 20px 40px 20px 40px;
	margin-bottom:10px;
  background-image: linear-gradient(to top left, #7a97bf, #FFF);
}
.fix{
  clear: both;
}
footer{
  padding-top:20px;
  margin-bottom: 40px;
  text-align: center;
  color: #3c6196;
}


@media only screen and (max-width:660px)
{
  .site-nav li{
    width: 33%;
    float: center;
  }
  .site-nav a{
    padding:5px;
    text-align: center;
    border: 1px solid black;
  }
  .main-area{
    border-top: none;
    width: 100%;
    padding-right: 20px;
  }
  header nav{
    border-bottom: none;
  }
  .main-area, .sidebar{
    background-color: white;
		float:none;
	}
  .sidebar{
    width: auto;
    margin-right: 20px;
    padding-right:20px;
  }
}

@media only screen and (max-width:430px)
{
  header h1{
    font-size: 20pt;
  }
  .site-nav li{
    width: 100%;
    float: center;
  }
  .site-nav a{
    padding:0px;
    text-align: center;
    border: 1px solid black;
  }
  .main-area{
    border-top: none;
    width: 100%;
    padding-right: 2%;
  }
  header nav{
    border-bottom: none;
  }
  .main-area, .sidebar{
    background-color: white;
		float:none;
	}
  .sidebar{
    width: 100%;
    padding: 5px;
  }
}





@media only screen and (max-height: 350px) and (max-width:300px){
  html{
    background-color: #ed6d76;
  }
  body{
    padding: 5%;
  }
  header h1{
    font-family: Helvetica;
    font-size: 24pt;
    color:red;
    text-align: left;
  }
  .main-area, .sidebar{
    background-color: white;
		width:auto;
		float:none;
	}
  .sidebar{
    background-image: linear-gradient(to top left, red, white);
    padding:5px;
  }
	.main-area{
    border-top: 1px solid red;
		padding-right: 0;
	}
  .site-nav li{
    width: 100%;
  }
  .site-nav a{
    color: Red;
    padding: 5%;
    border: 1px solid red;
    text-align: center;
  }
  .site-nav a:hover{
    background-color: #ed6d76;
    color: black;
  }
  img{
    margin-top:20px;
  }
  header nav{
    border-bottom: none;
  }
  footer{
    color:red;
  }
}
@media only screen and (max-width:286px)
{
  header h1{
    font-size: 17pt;
  }
  .site-nav li{
    width: 100%;
    float: center;
  }
  .site-nav a{
    padding:0px;
    text-align: center;
    border: 1px solid black;
  }
  .main-area{
    border-top: none;
    width: 100%;
    padding-right: 2%;
  }
  header nav{
    border-bottom: none;
  }
  .main-area, .sidebar{
    background-color: white;
		float:none;
	}
  .sidebar{
    width: 100%;
    padding: 5px;
  }
}

@media only screen and (max-width:200px)
{
  header h1{
    font-size: 14pt;
  }
}


@media only screen and (max-width:160px)
{
  header h1{
    font-size: 10pt;
  }
  body{
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media only screen and (max-width:130px)
{
  header h1{
    font-size: 8pt;
  }
  body{
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media only screen and (max-height:100px) and (max-width: 100px){
  html{
    background-color: #b491e6;
  }
  body{
    min-width: 100%;
    padding: 0;
  }
  header h1{
    font-family: Courier;
    font-size: 14px;
    color:purple;
  }
  header p{
    font-size: 10px;
  }
  .main-area, .sidebar{
    display: none;
	}
  .site-nav li{
    width: 100%;
  }
  .site-nav a{
    color: purple;
    border: 1px solid purple;
    text-align: center;
  }
  .site-nav a:hover{
    background-color: #b491e6;
    color: black;
  }
  img{
    display: none;
  }

  header nav{
    border-bottom: none;
  }
  footer{
    font-size: 10px;
    color: purple;
  }
}
