<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<servlet>
	<servlet-name>DispatcherServlet</servlet-name>
	<servlet-class>com.training.servlet.DispatcherServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>DispatcherServlet</servlet-name>
	<url-pattern>/*</url-pattern>
</servlet-mapping>

<welcome-file-list>
		<welcome-file>DispatcherServlet</welcome-file>
</welcome-file-list>
</web-app> 
